@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* .productCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 982px;
  background-color: aliceblue;
  padding: 175px 162px;
} */

.productCardContainer * {
  font-family: 'Merriweather', serif;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
  height: 632px;
  width: 1187px;
  background-color: #fff;
  padding: 10px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  flex: 1 1 0px;
  gap: 20px;
  overflow-y: hidden;
}

.imagesCarousal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
  max-height: 100%;
  gap: 20px;
  scrollbar-width: none;
}

.imagesCarousal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.carousalImageContainer {
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

.carousalImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.mainImageContainer {
  height: 100%;
  flex-grow: 1;
  border-radius: 8px;
}

.mainImage {
  height: 100%;
  width: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.productDetailsContainer {
  flex: 1 1 0px;
  padding: 10px;
}

.brandName {
  color: #1a75ff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}

.productName {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
}

.productSummary {
  color: #00000099;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 20px;
}

.priceAndDiscountContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  margin-top: 30px;
}

.priceAmount {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}

.discountValue {
  color: #1a75ff;
  font-size: 18px;
  font-weight: 700;
  background-color: #aaccff;
  margin: 0;
}

.originalPrice {
  color: #00000052;
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through;
  margin: 0;
  margin-top: 10px;
}

.chooseSizeLabel {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-top: 35px;
}

.sizeOptionsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.availableSize {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
}

.selectedSize {
  color: #fff;
  background-color: #000;
}

.addToBagBtn {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #1a75ff;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  margin-top: 50px;
  border: none;
}
